.ad-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-photo {
    width: 1500px;
    height: 683px;
    object-fit: cover;
    margin-left: 85px;
    margin-right: 85px;
}

  