
header{
    padding:none;
    margin:none;
}
.navigationSkeleton{
    width:100vw;
    height:30px;
    padding:20px 0 20px 0;
}
nav{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    position:fixed;
    width:100vw;
    top:0;
    background:transparent;
    padding:20px 0 20px 0;
    margin:0;
    height:30px;
    
    z-index:2;
    
}
.flex{
    display:flex;
    flex-direction:row;
    column-gap:20px;
}
ul,li{
    margin:0;
    padding:0;
}
ul{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    list-style:none;
    column-gap:20px;
}
li{
    padding:5px 5px 0 5px;
}
li a{
    text-decoration:none;
    color: #ffffff;
}
.puzzle{
    border:2px solid #FFD747;
    border-radius:5px;
}
.puzzle a{
    color:#FFD747;
}
.searchInput{
    display:none;
}
.login-search{
    display:flex;
    flex-direction:row;
    column-gap:20px;
}
.login-search i{
    display:inline;
    color:#FFD747;
}
.loginButton{
    background-color:#FFD747;
    border-radius:5px;
    padding:7px;
}
.loginButton a{
    color:black;
}