.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-item {
    border-radius: 15px;
    width: 28%;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-right: 25px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.info-image {
    width: 100%; 
    height: auto; 
    
}

.info-text {
    position: absolute;
    bottom: 28px;
    right: 18px;
    left: 18px;
    color:white;
    display:flex;
    text-align: justify;
    text-justify: inter-word;
    font-family: "Ruda", sans-serif;
    font-size:15px;
    font-weight:normal;
}
.info-date {
    position: absolute;
    right: 18px;
    bottom: 6px;
    color:white;
    font-family: "Ruda", sans-serif;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size:14px;
    font-weight:bolder;
}
.info-item::before {
    
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    pointer-events: none;
}
