.movie {
    position: relative;
    width: 230px;
    height: 300px;
}
  
.movie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
  
.rating {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffd747;
    color: black;
    padding: 6px 9px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bolder;
    font-family: "Ruda", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
  