#main{
    display: flex;
    justify-content: space-evenly;
}

.movie {
    position: relative;
    display: inline-block;
    width: 230px;
    height: 300px;
    overflow: hidden;
}

.movie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.rating {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffd747;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    font-family: "Ruda", sans-serif;
    font-optical-sizing: auto;
}

.additional-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    color: white;
    padding: 0;
    transition: transform 0.3s ease;
    transform: translateY(100%);
}

.movie:hover {
    & .additional-text{transform: translateY(0);}
    & img{filter: brightness(70%);}
}

.hover_main{    
    background: linear-gradient(to bottom, transparent, black );
    font-size: 12px;
    color: white;
    padding: 0 10px 0 10px;
    border-radius: 15px;
    & .hover_title{font-weight: bold; font-size: 20px; margin: 5px 0 8px 0;}
    & .hover_sub{display: flex;justify-content: space-between;margin: 5px 0; border-color: white;}
    & .addone{display: flex; & .addtwo{margin-left: 8px;}}
    & .border{ padding: 0 8px; border:1px solid white; border-radius: 10px;}
    & .hover_genre{color: #FFD747; margin: 5px 0;}
    & .hover_info{text-align: justify; width: auto; margin: 5px 0;}
    & .hover_bottom{display: flex;justify-content: space-between; padding: 5px 0 5px 0; margin:0;}
}